{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forget Password</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" integrity="sha512-6S2HWzVFxruDlZxI3sXOZZ4/eJ8AcxkQH1+JjSe/ONCEqR9L4Ysq5JdT5ipqtzU7WHalNwzwBv+iE51gNHJNqQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    {% tailwind_css %}
</head>
<body class="bg-color-primary text-white my-5 flex items-center justify-center">
    <div class="w-full max-w-lg mx-5 my-10 bg-[#83c5be] px-8 py-10 rounded-2xl">
        <div class="space-y-3">
            <h1 class="text-4xl font-bold text-color-secondary">Reset Password</h1>
            <p class="text-white text-lg">Fill up the form to reset the password</p>
        </div>
        <form action="{% url 'checkforgot' %}" class="my-5" method="POST">
            {% csrf_token %}
            <div class="flex flex-col space-y-5">
                <label for="name">
                    <p class="font-medium text-white font-semibold font-serif pb-2">UserName</p>
                    <input id="name" name="username" type="text" class="w-full py-3 px-3 rounded-xl placeholder-black text-black" placeholder="Enter UserName">
                </label>
                <button type="submit" class="w-full py-3 font-medium text-white bg-slate-900 hover:bg-[#ff896b] rounded-lg border-indigo-500 hover:shadow inline-flex space-x-2 items-center justify-center">
                    <i class="fas fa-unlock-alt mr-2 text-lg"></i>
                    <span>Reset Password</span>
                </button>
                <p class="text-center text-lg">Not registered yet?
                    <a href="{% url 'register' %}" class="text-white font-medium inline-flex space-x-1 items-center hover:text-color-secondary">
                        <span>Register now</span>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                            </svg>
                        </span>
                    </a>
                </p>
            </div>
        </form>
    </div>

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };

            {% if messages %}
                {% for message in messages %}
                    toastr["{{ message.tags }}"]("{{ message }}");
                {% endfor %}
            {% endif %}
        });
    </script>
</body>
</html>
