{% load static tailwind_tags %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% tailwind_css %}
    <title>{% block title%} Home {% endblock %}</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.css" integrity="sha512-oe8OpYjBaDWPt2VmSFR+qYOdnTjeV9QPLJUeqZyprDEQvQLJ9C5PCFclxwNuvb/GQgQngdCXzKSFltuHD3eCxA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" integrity="sha512-6S2HWzVFxruDlZxI3sXOZZ4/eJ8AcxkQH1+JjSe/ONCEqR9L4Ysq5JdT5ipqtzU7WHalNwzwBv+iE51gNHJNqQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="bg-color-primary text-white">
<header class="sticky top-0 z-50 mt-3 ">
    <nav class="container mx-auto flex justify-between items-center py-4">
        <div class="text-color-secondary font-bold text-3xl">
            <a href="/home" class="text-white">
                <span>Vital </span><span class="text-color-secondary">Stats.</span>
            </a>
        </div>
        <div class="hidden lg:flex items-center space-x-6">
            <a href="{% url 'home' %}" class="hover:text-color-secondary transition duration-200">Home</a>
            <a href="{% url 'showrecords' %}" class="hover:text-color-secondary transition duration-200">Health Records</a>
            <div class="relative">
                <img id="profile-img-desktop" src="{{ MEDIA_URL }}{{ img }}" alt="Profile Picture" role="img" class="rounded-full object-cover w-16 h-16 shadow-md cursor-pointer" />
                <div id="profile-dropdown-desktop" class="hidden absolute right-0 mt-2 w-48 bg-white rounded-lg shadow-lg py-2 text-black">
                    <a href="{% url 'profile' %}" class="block px-4  py-2 hover:bg-gray-200 transition duration-200 hover:text-color-secondary ">Profile</a>
                    <a href="{% url 'user_logout' %}" class="block px-4 py-2 hover:bg-gray-200 transition duration-200 hover:text-color-secondary">Logout</a>
                </div>
            </div>
        </div>

        <!-- Mobile screen  -->
        <div class="lg:hidden flex items-center">
            <img id="profile-img-mobile" src="{{ MEDIA_URL }}{{ img }}" alt="Profile Picture" role="img" class="rounded-full object-cover w-10 h-10 shadow-md cursor-pointer" />
        </div>
        <div id="menu" class="hidden absolute top-16 right-7  bg-white text-black rounded-lg shadow-lg py-2 w-48 z-50">
            <a href="{% url 'home' %}" class=" block py-2  px-4 hover:text-color-secondary transition duration-200">Home</a>
            <a href="{% url 'showrecords' %}" class=" block py-2  px-4 hover:text-color-secondary transition duration-200">Health Records</a>
            <a href="{% url 'profile' %}" class="block py-2 px-4 hover:bg-gray-200 hover:text-color-secondary transition duration-200">Profile</a>
            <a href="{% url 'user_logout' %}" class="block py-2 px-4 hover:bg-gray-200 hover:text-color-secondary transition duration-200">Logout</a>
        </div>
    </nav>
</header>
{% block content %}
    <div class="relative w-auto h-auto">
<main class="container absolute mx-auto p-6 z-1">
    <div class="carousel-container relative mt-6">
        <div id="carousel" class="carousel">
            <div class="carousel-item bg-green-100 p-4   rounded-full shadow-sm text-center">
                <h2 class="text-2xl font-semibold text-green-700">Stay Hydrated</h2>
                <p class="text-gray-700">Drinking enough water is crucial for your overall health. Aim for at least 8 cups a day.</p>
            </div>
            <div class="carousel-item bg-yellow-100 p-4 rounded-full shadow-sm text-center">
                <h2 class="text-2xl font-semibold text-yellow-700">Regular Exercise</h2>
                <p class="text-gray-700">Engage in at least 30 minutes of moderate physical activity most days of the week.</p>
            </div>
            <div class="carousel-item bg-blue-100 p-4 rounded-full shadow-sm text-center">
                <h2 class="text-2xl font-semibold text-blue-700">Balanced Diet</h2>
                <p class="text-gray-700">Include a variety of foods in your diet, focusing on fruits, vegetables, whole grains, and lean proteins.</p>
            </div>
            <div class="carousel-item bg-red-100 p-4 rounded-full shadow-sm text-center">
                <h2 class="text-2xl font-semibold text-red-700">Adequate Sleep</h2>
                <p class="text-gray-700">Aim for 7-9 hours of quality sleep each night to support your health and well-being.</p>
            </div>
            <div class="carousel-item bg-purple-100 p-4 rounded-full shadow-sm text-center">
                <h2 class="text-2xl font-semibold text-purple-700">Stress Management</h2>
                <p class="text-gray-700">Practice relaxation techniques like meditation, yoga, or deep breathing exercises.</p>
            </div>
        </div>
        <div class="carousel-controls ">
    <button id="prev" class="carousel-button hidden  lg:inline-flex">
        <svg class="h-7 w-7" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
        </svg>
    </button>
    <button id="next" class="carousel-button hidden lg:inline-flex">
        <svg class="h-7 w-7" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
        </svg>
    </button>
</div>
    </div>
      <div class="flex justify-center content-center mt-10">
            <button class="btn upload-button" onclick="show_upload()"  id="upload-button"> Upload HealthRecords</button>
        </div>
</main>

   <div class="z-2 fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden hidden-element">
    <!-- Modal content -->
    <div class="bg-white rounded-lg shadow-lg w-full max-w-lg mx-4 md:mx-0 md:w-2/3 lg:w-1/2 p-6 relative">
        <div class="flex justify-center mb-4">
            <h3 class="text-color-secondary text-center text-2xl">Upload Health Record</h3>
        </div>
        <button  onclick="hide_upload()" class="absolute top-4 right-4 text-gray-500 hover:text-gray-700 focus:outline-none cancel" id="cancel" aria-label="Close">
            <i class="fa fa-close" style="font-size:24px"></i>
        </button>
        <form method="POST" enctype="multipart/form-data" action="{% url 'checkupload' %}">
            {% csrf_token %}
            <div class="mb-6">
                <input type="file" name="file_name" accept="image/*" class="block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-violet-50 file:text-violet-700 hover:file:bg-violet-100">
            </div>
            <div class="flex justify-center">
                <button id="upload" class="btn bg-blue-500 text-white rounded-lg px-4 py-2 hover:bg-blue-700"><i class="fa fa-upload text-xl" aria-hidden="true"></i></button>
            </div>
        </form>

    </div>
</div>

</div>


{% endblock %}
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/upload.js' %}"></script>

<script>
    // Mobile menu toggle
    document.getElementById("profile-img-mobile").addEventListener("click", function() {
        document.getElementById("menu").classList.toggle("hidden");
    });

    // Desktop profile dropdown toggle
    document.getElementById('profile-img-desktop').addEventListener('click', function() {
        var dropdown = document.getElementById('profile-dropdown-desktop');
        dropdown.classList.toggle('hidden');
    });

    // Close desktop profile dropdown if clicked outside
    window.addEventListener('click', function(e) {
        var dropdown = document.getElementById('profile-dropdown-desktop');
        if (!document.getElementById('profile-img-desktop').contains(e.target)) {
            dropdown.classList.add('hidden');
        }
    });

    // Carousel functionality
    const carousel = document.getElementById('carousel');
    const nextButton = document.getElementById('next');
    const prevButton = document.getElementById('prev');

    nextButton.addEventListener('click', () => {
        carousel.scrollBy({ left: carousel.clientWidth, behavior: 'smooth' });
    });

    prevButton.addEventListener('click', () => {
        carousel.scrollBy({ left: -carousel.clientWidth, behavior: 'smooth' });
    });

    setInterval(() => {
        if (carousel.scrollLeft + carousel.clientWidth >= carousel.scrollWidth) {
            carousel.scrollTo({ left: 0, behavior: 'smooth' });
        } else {
            carousel.scrollBy({ left: carousel.clientWidth, behavior: 'smooth' });
        }
    }, 3000);

         function show_upload() {
            const uploadButton = document.getElementById('upload-button');
            const hiddenElement = document.querySelector('.hidden-element');
            console.log('Upload button clicked');
            hiddenElement.classList.remove('hidden');
            hiddenElement.classList.add('visible');
            uploadButton.classList.add('hidden');  // Hide the upload button
        }

        function hide_upload() {
            const uploadButton = document.getElementById('upload-button');
            const hiddenElement = document.querySelector('.hidden-element');
            hiddenElement.classList.remove('visible');
            hiddenElement.classList.add('hidden');
            uploadButton.classList.remove('hidden');  // Show the upload button again
        }
</script>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
</script>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {
            toastr.options = {
              "closeButton": true,
              "debug": false,
              "newestOnTop": false,
              "progressBar": true,
              "positionClass": "toast-top-right",
              "preventDuplicates": false,
              "onclick": null,
              "showDuration": "300",
              "hideDuration": "1000",
              "timeOut": "5000",
              "extendedTimeOut": "1000",
              "showEasing": "swing",
              "hideEasing": "linear",
              "showMethod": "fadeIn",
              "hideMethod": "fadeOut"
            }
            {% if messages %}
                {% for message in messages %}
                    toastr["{{ message.tags }}"]("{{ message }}");
                {% endfor %}
            {% endif %}
        });
    document.querySelector('form').addEventListener('submit', function(event) {
    const fileInput = document.querySelector('input[name="file_name"]');
    const file = fileInput.files[0];

    if (!file) {

         toastr["error"]("Please select a file to upload.");
        event.preventDefault();  // Prevent form submission
        return;
    }

    const validImageTypes = ['image/jpeg', 'image/png', 'image/gif'];
    if (!validImageTypes.includes(file.type)) {
        alert('Please upload a valid image file (JPEG, PNG, GIF).');
        event.preventDefault();  // Prevent form submission
    }
});
</script>
</body>
</html>
