{% load static tailwind_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    {% tailwind_css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

</head>
<body class=" bg-color-primary-dark text-white ">
    <div class=" flex h-screen justify-center my-16">
    <form action="{% url 'create_user' %}" method="POST" >
        {% csrf_token %}
        <div class="bg-color-primary rounded-2xl w-80 ">

                <div class="flex  flex-col gap-4 p-8">
                    <p class="text-2xl text-center font-semibold text-color-secondary mb-4">Register</p>
                    <input name="email" type="email" class="bg-slate-900 w-full rounded-lg border border-gray-300 px-3 py-3 placeholder-white" placeholder="Email">
                    <input name="username" class="bg-slate-900 w-full rounded-lg border border-gray-300 px-3 py-3 placeholder-white" placeholder="Username">
                    <div class="relative">
                        <input type="password" name="password" id="passwordInput" class="bg-slate-900 w-full rounded-lg border border-gray-300 px-4 py-3 placeholder-white" placeholder="Password">
                        <span class="absolute right-4 top-3 cursor-pointer" onclick="togglePasswordVisibility('passwordInput')">
                            <i id="passwordInput-icon" class="far fa-eye text-white duration-200"></i>
                        </span>
                    </div>
                    <button class="btn block w-full py-2 px-4">Regiser</button>
                  <p class="text-sm">Have an account? <a href="{% url 'login' %}" class="text-color-secondary">Login</a> </p>
                </div>
        </div>
    </form>

</div>
<script>
    function togglePasswordVisibility(inputId) {
        const input = document.getElementById(inputId);
        const icon = document.getElementById(inputId + '-icon');
        if (input.type === "password") {
            input.type = "text";
            icon.classList.remove('fa-eye');
            icon.classList.add('fa-eye-slash');
        } else {
            input.type = "password";
            icon.classList.remove('fa-eye-slash');
            icon.classList.add('fa-eye');
        }
    }
</script>
{% if messages %}
        {% for message in messages %}
            <script> alert('{{ message }}') </script>
        {% endfor %}
    {% endif %}
</body>
</html>