{% extends 'Home.html' %}
{% load static tailwind_tags %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Upload{% endblock %}</title>
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/upload.css' %}">
</head>
{% block content %}
<body class="bg-gray-100">
<div class="mx-4 mt-10 flex justify-center">
    <div class="w-full lg:w-3/4 xl:w-1/2">
        <table class="w-full bg-white rounded-lg overflow-hidden shadow-lg">
            <thead class="bg-blue-200 text-color-secondary">
                <tr>
                    <th class="w-1/12 px-2 py-2">#</th>
                    <th class="w-3/12 px-2 py-2">UserName</th>
                    <th class="w-3/12 px-2 py-2">Uploaded Time</th>
                    <th class="w-2/12 px-2 py-2">Records</th>
                    <th class="w-2/12 px-2 py-2">Report</th>
                </tr>
            </thead>
            <tbody class="text-black">
                {% for record in records %}
                <tr class="{% cycle 'bg-gray-300' 'bg-gray-100' %}">
                    <td class="border px-2 py-2">{{ forloop.counter }}</td>
                    <td class="border px-2 py-2">{{ record.username }}</td>
                    <td class="border px-2 py-2">{{ record.uploadtime }}</td>
                    <td class="border px-2 py-2 text-center">
                        <button class="hover:text-color-secondary font-semibold" onclick="openImageModal('{{ record.health_records.url }}')">View</button>
                    </td>
                    <td class="border px-2 py-2 text-center">
                        <a href="{% url 'report' record.id %}" class="hover:text-color-secondary font-semibold">View</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Image Modal -->
<div id="imageModal" class="fixed inset-0 hidden items-center justify-center bg-black bg-opacity-50">
    <div class="p-4 rounded bg-white relative max-w-md w-full">
        <button class="absolute top-1 right-1 text-gray-700 m-4 text-xl cursor-pointer" onclick="closeImageModal()"><i class="fa fa-times"></i></button>
        <img id="modalImage" src="" alt="Record Image" class="max-w-full h-1/2 p-4">
    </div>
</div>

<!-- Text Modal -->
{% if res %}
<div id="textModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 text-black">
    <div class="p-4 rounded bg-white relative max-w-md w-full" id="modalText">
        <button class="absolute top-2 right-2 text-gray-700 m-4 text-xl cursor-pointer" onclick="closeTextModal()"><i class="fa fa-times"></i></button>
        <p class="mt-5 max-w-[1320px] h-1/2 mx-4 overflow-y-auto">{{ res }}</p>
    </div>
</div>
{% endif %}

<script>
    function openImageModal(imageSrc) {
        document.getElementById('modalImage').src = imageSrc;
        document.getElementById('imageModal').classList.remove('hidden');
        document.getElementById('imageModal').classList.add('flex');
    }

    function closeImageModal() {
        document.getElementById('imageModal').classList.add('hidden');
        document.getElementById('imageModal').classList.remove('flex');
    }

    function closeTextModal() {
        var modalText = document.getElementById('textModal');
        modalText.classList.add('hidden');
        modalText.classList.remove('flex');
    }

    document.addEventListener('DOMContentLoaded', (event) => {
        window.openImageModal = openImageModal;
        window.closeImageModal = closeImageModal;
        window.closeTextModal = closeTextModal;
    });
</script>
</body>
{% endblock %}
</html>
